/* tr:hover {
  background-color: #202020;
  color: red;
} */

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td {
  font-family: 'Times New Roman', Times, serif;
}

table {
  font-size: 25px;
}
