@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.field_name {
  color: #3C2C3E;
  font-weight: 600;
}

.profile_contacts {
  color: #3C2C3E;
  font-weight: bold;
  background-color: #C7D36F;
}

.view_profile_container {
  border: 2px solid #3C2C3E;
  margin-bottom: 0.5rem;
}

.col-8 {
  color: #3C2C3E;
  margin-top: 10px;
}
.col-4 {
  margin-top: 10px;
}

.muted {
  margin-left: 1rem;
  font-style: italic;
  font-weight: 500;
}
