.WebsiteStatistics--container {
  align-items: center;
  background-color: #e4bc70;
  width: 30rem;
  height: auto;
  padding: 1% 1%;
  color: #fff;
}

.fa-solid {
  color: #00ff00;
  font-weight: 800;
}
